<% provide(:title, 'Contacts') %>
    <h1>Contact to Us</h1>
        <p>
          You can contact with us at the
          <a href="http://railstutorial.org/">Ruby on Rails Tutorials</a>
           link.
        </p>
