<% provide(:title, 'Hell') %>
<div class="center hero-unit">
  <h1>Welcome to the Hell</h1>
  <p>How come you expected?!!</p>
  <h4><%= link_to "Sign to Us", signup_path, class: "hell" if !signed_in? %></h4>
</div>
