<h1>Search for Google images</h1>
<div class='search' >
  <%= form_tag( search_path, method: "get") do %>
    <%= text_field_tag(:search_query, nil,
                       placeholder: "Start typing here...",
                       class: "search_input") %>
    <div><%= submit_tag("Search", class: "btn btn-large btn-primary") %></div>
  <% end %>
</div>
<% if !search_results.nil? %>
  <% search_results.each do |src|%>
    <div class="search_results">
      <hr>
      <h2>Results</h2>
      <td>
        <tr><img alt="image is unavailable" src="<%= src %>" class="search_results_img"></tr>
      </td>
    </div>
  <% end %>
<% end %>
